<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="home.page.scss">

<div class="header">
  <ion-button class="logout" (click)="logOut()">Logout</ion-button>
  <h1 class="topvault">PhotoVault</h1>
</div>

<div id="container">
  <ion-label class="pfp">PROFILE PICTURE</ion-label>

  <ion-item>
    <ion-input type="file" (change)="onFileSelected($event)" class="choose"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="upload()">Upload</ion-button>

  <img *ngIf="downloadedPhoto" [src]="downloadedPhoto" alt="Uploaded File">
</div>
<!-- <ion-button (click) = "save()" color="success"> save </ion-button> -->